---
layout: page
# The Home page layout
---

{% include lang.html %}


{% for collection in site.collections %}
{% if collection.label == 'tabs' %}
  <!-- <span>{{ site.data.locales[lang].tabs[item] | default: page.title }}</span> -->
  <!-- <h2>Items from {{ collection.label }}</h2> -->
  <!-- <ul> -->
    {% for item in site[collection.label] %}
    <!-- <li><a href="{{ item.url }}">{{ item.url }}</a></li> -->
    {% if item.url == '/about/' %}
      {% include refactor-content.html content=item.content %}
    {% endif %}

    {% endfor %}
  <!-- </ul> -->
{% endif %}

{% endfor %}


{% include js-selector.html %}
{% include css-selector.html %}
<!-- <script defer src="/assets/js/dist/page.min.js"></script> -->
